<template>

    <div class="container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea est maxime quasi? Architecto aspernatur delectus dolores ducimus eos eum magnam minus nostrum odio officiis quibusdam, sequi, sit tempora totam ut.</p>
    </div>
</template>

<script>
export default {
name: "About"
}
</script>

<style scoped>

</style>
